# Prb Statement - Predicting the house Price

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Maison.csv")

In [3]:
# Since the columns are in french, in order to make them more readable, let's translate them into English
df = df.rename(index = str, columns = {'PRIX':'price','SUPERFICIE': 'area','CHAMBRES': 'rooms', 
                         'SDB': 'bathroom', 'ETAGES': 'floors','ALLEE': 'driveway',
                         'SALLEJEU':'game_room', 'CAVE': 'cellar', 
                         'GAZ': 'gas', 'AIR':'air', 'GARAGES': 'garage', 'SITUATION': 'situation'})

In [4]:
df.head()

,price,area,rooms,bathroom,floors,driveway,game_room,cellar,gas,air,garage,situation
0,42000,5850,3,1,2,1,0,1,0,0,1,0
1,38500,4000,2,1,1,1,0,0,0,0,0,0
2,49500,3060,3,1,1,1,0,0,0,0,0,0
3,60500,6650,3,1,2,1,1,0,0,0,0,0
4,61000,6360,2,1,1,1,0,0,0,0,0,0

In [5]:
df.shape

(546, 12)

# Automatic EDA using Pandas Profiling

In [7]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\pc\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (2.24.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (5.3.1)
Requirement already satisfied: numpy>=1.16.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (1.19.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (1.1.3)
Requirement already satisfied: scipy>=1.4.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (1.5.2)
Requirement already satisfied: visions[type_image_path]==0.7.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.11.0)
Requirement already satisfied: phik>=0.11.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: joblib in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.17.0)
Requirement already satisfied: missingno>=0.4.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (4.50.2)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\pc\anaconda3\lib\site-packages (from pandas-profiling) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\pc\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\pc\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pc\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2.8.1)
Requirement already satisfied: multimethod==1.4 in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: networkx>=2.4 in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5)
Requirement already satisfied: bottleneck in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (20.3.0)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\pc\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (8.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.0)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\pc\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\pc\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)

In [8]:
import pandas_profiling as pp

In [9]:
profile = pp.ProfileReport(df)
profile.to_file("output.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=26.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

# Checking For Null Values

In [6]:
df.isnull().sum()

price        0
area         0
rooms        0
bathroom     0
floors       0
driveway     0
game_room    0
cellar       0
gas          0
air          0
garage       0
situation    0
dtype: int64

# Checking Data Types

In [7]:
df.dtypes

price        int64
area         int64
rooms        int64
bathroom     int64
floors       int64
driveway     int64
game_room    int64
cellar       int64
gas          int64
air          int64
garage       int64
situation    int64
dtype: object

# Outlier Analysis

In [12]:
df.describe(percentiles=[0.01,0.05,0.10,0.25,0.50,0.75,0.85,0.9,0.99])

,price,area,rooms,bathroom,floors,driveway,game_room,cellar,gas,air,garage,situation
count,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,68121.597070,5150.265568,2.965201,1.285714,1.807692,0.858974,0.177656,0.349817,0.045788,0.316850,0.692308,0.234432
std,26702.670926,2168.158725,0.737388,0.502158,0.868203,0.348367,0.382573,0.477349,0.209216,0.465675,0.861307,0.424032
min,25000.000000,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1%,26725.000000,1972.500000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5%,35000.000000,2565.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10%,40500.000000,3000.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49125.000000,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,62000.000000,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,82000.000000,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
85%,94500.000000,7156.250000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,1.000000
90%,105000.000000,7980.000000,4.000000,2.000000,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,1.000000
99%,150500.000000,12535.500000,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000
max,190000.000000,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000

In [13]:
def clipping(x):
    x=x.clip(lower=x.quantile(0.01),upper=x.quantile(0.99))
    return x

In [14]:
df=df.apply(lambda x : clipping(x))          #Outlier Analysis

In [15]:
df.describe(percentiles=[0.01,0.05,0.10,0.25,0.50,0.75,0.85,0.9,0.99])

,price,area,rooms,bathroom,floors,driveway,game_room,cellar,gas,air,garage,situation
count,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,67898.346154,5135.637363,2.965201,1.283883,1.807692,0.858974,0.177656,0.349817,0.045788,0.316850,0.692308,0.234432
std,25811.063006,2099.311040,0.717205,0.493997,0.868203,0.348367,0.382573,0.477349,0.209216,0.465675,0.861307,0.424032
min,26725.000000,1972.500000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1%,26848.750000,1984.875000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5%,35000.000000,2565.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10%,40500.000000,3000.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49125.000000,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,62000.000000,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,82000.000000,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
85%,94500.000000,7156.250000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,1.000000
90%,105000.000000,7980.000000,4.000000,2.000000,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,1.000000
99%,148025.000000,12335.025000,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000
max,150500.000000,12535.500000,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000

# Removing Zero Variance Columns

In [16]:
from sklearn.feature_selection import VarianceThreshold

var = VarianceThreshold(threshold=0)
var.fit_transform(df)
cols = var.get_support(indices=True)
print(cols)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

# Removing Correlated Variables

In [17]:
from feature_engine.selection import SmartCorrelatedSelection
# set up the selector
tr = SmartCorrelatedSelection(
    method="pearson",
    threshold=0.8,
    selection_method="variance",
)

In [18]:
df.shape

(546, 12)

In [19]:
df = tr.fit_transform(df)

In [20]:
df.shape

(546, 12)

# Seperating X & Y

In [21]:
X=df.drop(['price'],axis=1)
Y=df['price']

# Splitting Data and Modelling

In [22]:
# Import the libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

In [24]:
model = LinearRegression()

In [25]:
model.fit(X_train,y_train)

LinearRegression()

# Predictions

In [31]:
price_predicted=model.predict(X_test)

In [33]:
r_square = model.score(X_test,y_test)
r_square

0.6376838540397625

In [34]:
print(model.coef_)   #slope

[3.88253823e+00 2.65143868e+03 1.34912698e+04 6.07753001e+03
 5.11310288e+03 4.92996097e+03 3.41259940e+03 1.45514387e+04
 1.25543902e+04 4.44378582e+03 9.27063071e+03]

In [35]:
print(model.intercept_)  #c

-4010.8107282767305

In [48]:
# Mean Absolute Error (MAE)
# Mean Squared Error (MSE)
# Root Mean Squared Error(RMSE)

from sklearn import metrics
print('MAE :', metrics.mean_absolute_error(y_test, price_predicted))
print('MSE :', metrics.mean_squared_error(y_test, price_predicted))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test, price_predicted)))

MAE : 10181.281518279398
MSE : 187631252.73713514
RMSE : 13697.855771511655